.background-page-header {
    color: white;
    font-size: medium;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
}
.background-page-body {
    display: block;
    margin-left: 15px;
}
.image-card {
    width: 175px;
    height: 110px;
    margin: 3px;
}
.image-card:hover {
    cursor: pointer;
}
.download-design-header {
    color: black;
    font-weight: bold;
    font-size: medium;
    border-bottom: 1px solid rgb(172, 172, 172);
    background-color: #cccccc;
    padding: 5px;
    padding-left: 15px;
}
.download-design-body {
    border-bottom: 1px solid rgb(172, 172, 172);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-3Dmockup-body {
    width: 100%;
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.render-button {
    width: 30%;
    height: 50px;
    background-color: cyan;
    margin-top: 10px;
    text-align: center;
    display: flex;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    border-radius: 10px;
}
.render-button:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.651);
}
.show-results {
    width: '200px';
    height: '150px';
    animation-duration: '2s';
}
.loading-spinner {
    opacity: 1;
    z-index: 9999; 
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 1vh; 
    left: 3vw; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.upload-page {
    display: flex;
    flex-direction: column;
}
.upload-page-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
}
.upload-page-header-select {
    width: 30%;
    height: 100%;
    background-color: #2f84d2;
    color: white;
    text-align: center;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}
.upload-page-header-select:hover {
    cursor: pointer;
}
.upload-page-header-drag {
    width: 70%;
    height: 100%;
    background-color: #404040;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.upload-page-header-drag:hover {
    cursor: pointer;
}
.upload-page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#pick-color-board {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.color-card-custom:hover {
    cursor: pointer;
}
.color-card-custom {
    height: 40px;
    width: 5vw;
    border: 1px solid black;
}
.color-card {
    height: 40px;
    width: 5vw;
    border: 1px solid black;
}
.color-card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition-duration: 250ms;
}
.select-bg-class {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
#select-bg-class-library {
    border-top-left-radius: 10px;
    background-color: #525454;
    padding: 5px;
    width: 100px;
    font-size: small;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#select-bg-class-library:hover {
    cursor: pointer;
    background-color: #85ce00;
}
#select-bg-class-stock {
    background-color: #525454;
    padding: 5px;
    width: 150px;
    font-size: small;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#select-bg-class-stock:hover {
    cursor: pointer;
    background-color: #85ce00;
}
#select-bg-class-upload {
    border-top-right-radius: 10px;
    background-color: #525454;
    padding: 5px;
    width: 140px;
    font-size: small;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#select-bg-class-upload:hover {
    cursor: pointer;
    background-color: #85ce00;
}
.bg-library-page-header {
    background-color: #2b2b2b;
    border-top: 1px solid #525454;
    border-bottom: 1px solid #525454;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    padding-right: 30px;
}
.bg-library-page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.add-text {
    width: 100px;
    height: 33vh;
    background-color: #0e0e0e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 999;
}
.add-text-sub {
    width: 100%;
    height: 11vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.add-text-sub:hover {
    cursor: pointer;
}
.insert-image-page {
    padding: 15px;
    display: block;
}
.insert-image-page-header {
    display: flex;
    flex-direction: row;
}
#insert-image-page-header-graphics {
    width: 49%;
    margin-right: 2%;
    height: 50px;
    border-radius: 10px;
    background-color: #50abff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: x-large;
}
#insert-image-page-header-shapes {
    width: 49%;
    height: 50px;
    border-radius: 10px;
    background-color: #50abff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: x-large;
}
.insert-image-page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
}