.divider>span{
    color: #ffffff;
}

.bg-library-page-body{
    display: block!important;
}

.mockupGroup{
    display: flex;
    flex-wrap: wrap;
}

.selectedMockup {
    border: 4px solid lightBlue;
    border-radius: 10px;
}

.image-card{
    width: 150px;
    height: auto;
}

.image-card:hover{
    border: 2px solid lightBlue;
    border-radius: 10px;
}

.show-extrapage{
    overflow: auto!important;
}